body {
    font-family: 'Roboto Slab', serif;
}

img {
    max-width: 100%;
}

input,
textarea,
select,
button {
    width: 150px;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

legend {
    font-size: 1.2rem;

}

button:focus {
    outline: none;
    background: #000;
    color: #FFF;
}

/*  grids */

main {
    display: grid;
}

/* hero content */

.content {
    display: grid;
}

/* about content */

.about-content {
    display: grid;
}

/*  gallery */

.gallery {
    display: grid;
}

/*  article */

article {
    display: grid;
}

/* form container */
.form-container {
    display: grid;
}

/* footer */

footer {
    display: grid;
}

/*  layout */

/*   mobile is the default layout*/

/* tablet layout >=48rem (768px) */

@media screen and (min-width: 48rem) {

    /*      hero content */

    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content picture,
    .content p,
    .about-content {
        grid-column: 2/3;

    }

    /*	about content */

    /*	gallery */
    
    figure {
        grid-template-columns: 1fr 1fr;
        grid-column: 1/2;
    }

    figcaption {
        grid-template-columns: 1fr 1fr;
        margin-left: 1rem;
        grid-column: 2/2;
    }

    /*	article */
    article,
    .form-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .story h1,
    .story h2,
    .story-body {
        grid-column: 2/3;
    }

    /*	form */
    form {
        grid-column: 2/3;
    }
}

/* wide screen layout >=64rem (1024px) */

@media screen and (min-width: 64rem) {

    .mobile-first {
        display: none;
    }

    /*      hero content */

    /*	about content */

    /*	gallery */
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery h1 {
        grid-column: 1/4;
    }

    figure {
        grid-column: 1/2;
    }

    figcaption {
        grid-column: 2/2;
    }

    /*	article */

    /*	form */

}
